XSD/Exame.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.estg.ipp.pt/exame" 
    xmlns="http://www.estg.ipp.pt/exame" 
    xmlns:curso="http://www.estg.ipp.pt/curso"
    xmlns:d="http://www.estg.ipp.pt/docente">
     

<xs:import schemaLocation="curso.xsd" namespace="http://www.estg.ipp.pt/curso"/>
<xs:import schemaLocation="Docente.xsd" namespace="http://www.estg.ipp.pt/docente"/>   
    

<xs:complexType name="Exame">
    <xs:sequence>
        <xs:element name="Unidade" type="curso:unidades"/>
        <xs:element name="Hora" type="xs:time"/>
        <xs:element name="Data" type="xs:date"/>
        <xs:element name="Duracao" type="xs:time"/>
        <xs:element name="Responsavel" type="d:Docente"/>
        <xs:element name="Sala" type="salaType"/>
    </xs:sequence>
</xs:complexType>

<xs:simpleType name="salaType">
    <xs:restriction base="xs:string">
        <xs:enumeration value="Normal"/>
        <xs:enumeration value="Informatica"/>
    </xs:restriction>
</xs:simpleType>




</xs:schema>
