XSD/Exame.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:curso="http://www.estg.ipp.pt/curso"
    xmlns:d="http://www.estg.ipp.pt/docente">
     

<xs:import schemaLocation="curso.xsd" namespace="http://www.estg.ipp.pt/curso"/>
<xs:import schemaLocation="Docente.xsd" namespace="http://www.estg.ipp.pt/docente"/>   
    

<xs:complexType name="Exame">
    <xs:sequence>
        <xs:element name="Unidade" type="curso:unidades"/>
        <xs:element name="Hora" type="xs:time"/>
        <xs:element name="Data" type="xs:date"/>
        <xs:element name="Responsavel" type="d:Docente"/>
    </xs:sequence>
</xs:complexType>




</xs:schema>
